@charset "UTF-8";

/* Foglio di stile CSS di Calapso serale provvisorio dal 29-09-25(BETA).fet
   Foglio di stile generato con FET 7.4.7 su 20/09/25 08:49 */

/* Per inserire un salto di pagina ogni due orari, cancellare "page-break-before: always;" in "table.even_table". */
/* Elimina "page-break-before: always;" in "table.even_table" e in "table.odd_table" per evitare i salti di pagina. */
/* Per nascondere un elemento, scrivere la seguente frase nell'elemento: "display: none;" (senza virgolette). */

p.back {
  margin-top: 4ex;
  margin-bottom: 5ex;
}

table {
  text-align: center;
  page-break-inside: avoid;
}

table.odd_table {
  page-break-before: always;
}

table.even_table {
  page-break-before: always;
}

table.detailed {
  margin-left: auto; margin-right: auto;
  text-align: center;
  border: 0px;
  border-spacing: 0;
  border-collapse: collapse;
}

caption {

}

span.institution {
  font-weight: bold;
}

span.name {

}

span.comment {
  /*font-style: italic;*/
}

span.legend_title {
  font-weight: bold;
}

thead {

}

/* Alcuni software importano "tfoot" in modo non corretto. Perciò usiamo "tr.foot" anzichè "tfoot". */

tr.foot {

}

tbody {

}

th {

}

td {

}

td.detailed {
  border: 1px dashed silver;
  border-bottom: 0;
  border-top: 0;
}

th.xAxis {
/* width: 8em; */
}

th.yAxis {
  height: 8ex;
}

/* Disegna i periodi liberi degli insegnanti */

div.DESCRIPTION {
  text-align: left;
  font-size: smaller;
}

/* Fine del file. */
