@charset "UTF-8";

/* Foglio di stile CSS di Calapso serale provvisorio dal 29-09-25(BETA).fet
   Foglio di stile generato con FET 7.4.7 su 20/09/25 21:51 */

/* Per inserire un salto di pagina ogni due orari, cancellare "page-break-before: always;" in "table.even_table". */
/* Elimina "page-break-before: always;" in "table.even_table" e in "table.odd_table" per evitare i salti di pagina. */
/* Per nascondere un elemento, scrivere la seguente frase nell'elemento: "display: none;" (senza virgolette). */

p.back {
  margin-top: 4ex;
  margin-bottom: 5ex;
}

table {
  text-align: center;
  page-break-inside: avoid;
}

table.odd_table {
  page-break-before: always;
}

table.even_table {
  page-break-before: always;
}

table.detailed {
  margin-left: auto; margin-right: auto;
  text-align: center;
  border: 0px;
  border-spacing: 0;
  border-collapse: collapse;
}

caption {

}

span.institution {
  font-weight: bold;
}

span.name {

}

span.comment {
  /*font-style: italic;*/
}

span.legend_title {
  font-weight: bold;
}

thead {

}

/* Alcuni software importano "tfoot" in modo non corretto. Perciò usiamo "tr.foot" anzichè "tfoot". */

tr.foot {

}

tbody {

}

th {

}

td {

}

td.detailed {
  border: 1px dashed silver;
  border-bottom: 0;
  border-top: 0;
}

th.xAxis {
/* width: 8em; */
}

th.yAxis {
  height: 8ex;
}

span.s_1 { /* subject ITALIANO */

}

span.s_2 { /* subject STORIA */

}

span.s_3 { /* subject INGLESE */

}

span.s_4 { /* subject MATEMATICA */

}

span.s_5 { /* subject RELIGIONE */

}

span.s_6 { /* subject CHIMICA */

}

span.s_7 { /* subject Lab. CHIMICA */

}

span.s_8 { /* subject TIC */

}

span.s_9 { /* subject LTE */

}

span.s_10 { /* subject TEEA */

}

span.s_11 { /* subject Lab. TEEA */

}

span.s_12 { /* subject TMA */

}

span.s_13 { /* subject Lab. TMA */

}

span.s_14 { /* subject TTIM */

}

span.s_15 { /* subject Lab.TTIM */

}

span.s_16 { /* subject TTRG */

}

span.s_17 { /* subject Storia e filosofia */

}

span.s_18 { /* subject Matematica e fisica */

}

span.s_19 { /* subject Discipline grafico pittoriche */

}

span.s_20 { /* subject Laboratorio artistico */

}

span.s_21 { /* subject Discipline pittoriche */

}

span.s_22 { /* subject Lab. della figurazione pittura */

}

span.s_23 { /* subject Storia dell'Arte */

}

span.s_24 { /* subject Discipline geometriche */

}

span.s_25 { /* subject Discipline plastiche e scultoree */

}

span.s_26 { /* subject Tecnologie dei materiali e dei processi produttivi e organizzativi della moda */

}

span.s_27 { /* subject Ideazione, progettazione e industrializzazione dei prodotti moda */

}

span.s_28 { /* subject Chimica applicata e nobilitazione dei materiali per i prodotti moda */

}

span.s_29 { /* subject Laboratorio di scienze e tecnologie tessili, dell’abbigliamento e della mod */

}

span.s_30 { /* subject Economia e marketing delle aziende della moda */

}

span.at_1 { /* activity tag IPSIA */

}

span.at_2 { /* activity tag ITAS */

}

span.at_3 { /* activity tag LICEO */

}

span.ss_1 { /* students set 2 IPSIA */

}

span.ss_4 { /* students set 3 IPSIA */

}

span.ss_7 { /* students set 2E IPSIA */

}

span.ss_10 { /* students set 4 IPSIA */

}

span.ss_13 { /* students set 5 IPSIA */

}

span.ss_16 { /* students set 3E IPSIA */

}

span.ss_19 { /* students set 2 LICEO */

}

span.ss_22 { /* students set 4 LICEO */

}

span.ss_25 { /* students set 3 ITAS */

}

span.t_1 { /* teacher Spina Loredana */

}

span.t_2 { /* teacher Alfano Sara */

}

span.t_3 { /* teacher Magro Emanuele */

}

span.t_4 { /* teacher Lo Giudice Marco */

}

span.t_5 { /* teacher Sarta Vincenzo */

}

span.t_6 { /* teacher Cirmena Roberto */

}

span.t_7 { /* teacher Italia Rosalinda */

}

span.t_8 { /* teacher Oddo Viviana */

}

span.t_9 { /* teacher Triolo Vanessa */

}

span.t_10 { /* teacher Rametta Giuseppe */

}

span.t_11 { /* teacher Russo Signorino */

}

span.t_12 { /* teacher Di Dio Giovanna */

}

span.t_13 { /* teacher Monaca Francesco */

}

span.t_14 { /* teacher Chimica */

}

span.t_15 { /* teacher Lab. Chimica */

}

span.t_16 { /* teacher Storia e filosofia */

}

span.t_17 { /* teacher Storia dell'Arte */

}

span.t_18 { /* teacher Discipline plastiche e scultoree */

}

span.t_19 { /* teacher Lab. tessile */

}

span.t_20 { /* teacher Economia e marketing delle aziende della moda */

}

span.t_21 { /* teacher Mateiali e ideazione */

}

span.r_1 { /* room -C1- */

}

span.r_2 { /* room -C2- */

}

span.r_3 { /* room C3-DOM */

}

span.r_4 { /* room -C4/5- */

}

span.r_5 { /* room -C6-LN1- */

}

span.r_6 { /* room -C7-LN2- */

}

span.r_7 { /* room -C10/12- */

}

span.r_8 { /* room A17-CHIM */

}

span.r_9 { /* room B1-OFF */

}

span.r_10 { /* room B2-SAL */

}

span.r_11 { /* room B3-FIS */

}

span.r_12 { /* room B4-MAN */

}

span.r_13 { /* room B5-CNC */

}

span.r_14 { /* room B6-PNE */

}

span.r_15 { /* room -B9-LL1- */

}

span.r_16 { /* room B10-INF */

}

span.r_17 { /* room C11-DIS */

}

span.subject {

}

span.activitytag {

}

span.empty {
  color: gray;
}

td.empty {
  border-color: silver;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: dotted;
  border-top-style: dotted;
}

span.notAvailable {
  color: gray;
}

td.notAvailable {
  border-color: silver;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: dotted;
  border-top-style: dotted;
}

span.break {
  color: gray;
}

td.break {
  border-color: silver;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: dotted;
  border-top-style: dotted;
}

tr.studentsset, div.studentsset {

}

tr.teacher, div.teacher {

}

tr.room, div.room {

}

tr.line0, div.line0 {
  font-size: smaller;
}

tr.line1, div.line1 {

}

tr.line2, div.line2 {
  font-size: smaller;
  color: gray;
}

tr.line3, div.line3 {
  font-size: smaller;
  color: silver;
}

/* Disegna i periodi liberi degli insegnanti */

div.DESCRIPTION {
  text-align: left;
  font-size: smaller;
}

div.TEACHER_HAS_SINGLE_GAP {
  color: black;
}

div.TEACHER_HAS_BORDER_GAP {
  color: gray;
}

div.TEACHER_HAS_BIG_GAP {
  color: silver;
}

div.TEACHER_MUST_COME_EARLIER {
  color: purple;
}

div.TEACHER_MUST_COME_MUCH_EARLIER {
  font-size: smaller;
  color: fuchsia;
}

div.TEACHER_MUST_STAY_LONGER {
  color: teal;
}

div.TEACHER_MUST_STAY_MUCH_LONGER {
  font-size: smaller;
  color: aqua;
}

div.TEACHER_HAS_A_FREE_DAY {
  font-size: smaller;
  color: red;
}

div.TEACHER_IS_NOT_AVAILABLE {
  font-size: smaller;
  color: olive;
}

/* Fine del file. */
